[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HeliumReborn
Exec=invoker -r 8 --single-instance --type=d /usr/bin/heliumreborn
Icon=/usr/share/icons/hicolor/80x80/apps/heliumreborn80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
